@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}


		<!-- Main container -->

		<!-- Blogpost meta data -->
		<div class="container-fluid grey-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-6">
						<div class="meta-author media p-3">
							<div class="media-body">
								<p><span class="font-weight-bold">Written by</span> <br />
									@Model.Value("authorName")
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="meta-meta text-right">
							<p><br /> 
								<span class="font-weight-bold">Published on</span> @(Model.Value<DateTime>("publishedOn").ToString("MMM dd, yyyy")) <br />
								<span class="font-weight-bold">Category:</span> <a href="#">
									@if(@Model.Value<IEnumerable<string>>("categories").Any()){
								    
								        @foreach(var tag in @Model.Value<IEnumerable<string>>("categories")){
								            <span>@tag</span>
								        }
								    }  
								</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>		

		<!-- Blogpost content -->
        <div class="container">

			<div class="row section">
				<div class="col-md-12">
					<p class="intro">@Model.Value("introText")</p>
					<br />
					<p>@Model.Value("bodyText")</p>
					<br />					</div>
			</div>
		</div>

		<!-- Related story -->
		<div class="container-fluid orange-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-12 blog-related">
						<h4>Related story:</h4>
						<a href="#">
							<h5>Product Update: Highlights of 2019</h5>
							<p>‘Tis the season to be jolly, launch new products, release new features and plan for next year. 
								Don’t worry, I’m not going to sing it for you, but I’ll take you through recent product news and give you some insight as to what you can expect in December - 
								and the beginning of 2020.<br />
								<span class="font-italic">Written by Sofie Toft</span></p>
						</a>
					</div>
				</div>
			</div>
		</div>